@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --content-font: "Noto Sans", sans-serif;
    --title-font: "Noto Serif", serif;

    --background-color: #F5F5F5;
    --bar-color: #f1f1f1;
    --secondary-bar-color: #efefef;
    --text-color: #111111;
    --primary-color: #FF5A75; /* Màu đỏ hồng nhạt hơn một chút cho tông màu chính */
    --secondary-primary-color: #FF82B2; /* Màu hồng nhạt hơn cho tông màu phụ */
    --accent-color: #FF1493; /* Màu hồng nổi bật cho các điểm nhấn */
    --link-color: #FF007F; /* Màu hồng đậm cho các liên kết */
    --button-color: #FF1493; /* Màu hồng nổi bật cho các nút bấm */
    --border-color: #FFA07A; /* Màu cam nhẹ cho các đường viền */
    --hover-color: #FF6EB4; /* Màu hồng sáng cho hiệu ứng hover */

    --trans-02: all .2s ease;
    --trans-03: all .3s ease;
    --trans-04: all .4s ease;
    --trans-05: all .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--content-font);
    font-size: 16px;
    justify-content: space-between;
    overflow: hidden;
}

body.red {
    --primary-color: #FF4C4C; /* Màu đỏ nhạt hơn một chút cho tông màu chính */
    --secondary-primary-color: #FF6666; /* Màu đỏ nhạt hơn cho tông màu phụ */
    --accent-color: #FF0000; /* Màu đỏ nổi bật cho các điểm nhấn */
    --link-color: #CC0000; /* Màu đỏ đậm cho các liên kết */
    --button-color: #FF0000; /* Màu đỏ nổi bật cho các nút bấm */
    --border-color: #FF6347; /* Màu đỏ cam nhẹ cho các đường viền */
    --hover-color: #FF4500; /* Màu đỏ sáng cho hiệu ứng hover */
}

body.green {
    --primary-color: #4CAF50; /* Màu xanh lá cây cho tông màu chính */
    --secondary-primary-color: #66BB6A; /* Màu xanh lá cây nhạt hơn cho tông màu phụ */
    --accent-color: #388E3C; /* Màu xanh lá cây đậm cho các điểm nhấn */
    --link-color: #2E7D32; /* Màu xanh lá cây đậm cho các liên kết */
    --button-color: #4CAF50; /* Màu xanh lá cây cho các nút bấm */
    --border-color: #81C784; /* Màu xanh lá cây nhạt cho các đường viền */
    --hover-color: #66BB6A; /* Màu xanh lá cây sáng cho hiệu ứng hover */
}

body.blue {
    --primary-color: #2196F3; /* Màu xanh dương cho tông màu chính */
    --secondary-primary-color: #64B5F6; /* Màu xanh dương nhạt hơn cho tông màu phụ */
    --accent-color: #1976D2; /* Màu xanh dương đậm cho các điểm nhấn */
    --link-color: #0D47A1; /* Màu xanh dương đậm cho các liên kết */
    --button-color: #2196F3; /* Màu xanh dương cho các nút bấm */
    --border-color: #90CAF9; /* Màu xanh dương nhạt cho các đường viền */
    --hover-color: #42A5F5; /* Màu xanh dương sáng cho hiệu ứng hover */
}

body.pink {
    --primary-color: #FF5A75; /* Màu đỏ hồng nhạt hơn một chút cho tông màu chính */
    --secondary-primary-color: #FF82B2; /* Màu hồng nhạt hơn cho tông màu phụ */
    --accent-color: #FF1493; /* Màu hồng nổi bật cho các điểm nhấn */
    --link-color: #FF007F; /* Màu hồng đậm cho các liên kết */
    --button-color: #FF1493; /* Màu hồng nổi bật cho các nút bấm */
    --border-color: #FFA07A; /* Màu cam nhẹ cho các đường viền */
    --hover-color: #FF6EB4; /* Màu hồng sáng cho hiệu ứng hover */
}

body.purple {
    --primary-color: #9C27B0; /* Màu tím cho tông màu chính */
    --secondary-primary-color: #BA68C8; /* Màu tím nhạt hơn cho tông màu phụ */
    --accent-color: #7B1FA2; /* Màu tím đậm cho các điểm nhấn */
    --link-color: #4A148C; /* Màu tím đậm cho các liên kết */
    --button-color: #9C27B0; /* Màu tím cho các nút bấm */
    --border-color: #CE93D8; /* Màu tím nhạt cho các đường viền */
    --hover-color: #AB47BC; /* Màu tím sáng cho hiệu ứng hover */
}

body.dark {
    --background-color: #121212; /* Màu nền tối */
    --bar-color: #1E1E1E; /* Màu thanh công cụ tối hơn một chút */
    --secondary-bar-color: #2C2C2C; /* Màu thanh công cụ phụ tối hơn */
    --text-color: #E0E0E0; /* Màu chữ sáng */
    --border-color: #333333; /* Màu viền tối hơn */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

body.dark a {
    color: var(--text-color-dark);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    height: 100%;
    z-index: 1;
    overflow: auto;
}

/* SIDE BAR */
.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    background-color: var(--bar-color);
    box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
    z-index: 1;
}
body.dark .sidebar {
    border: 1px solid var(--border-color);
}

.sidebar-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding: 24px;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}
    .sidebar-header .logo {
        width: auto;
        height: 48px;
        object-fit: cover;
    }
    .sidebar-header .logo-text {
        font-family: var(--title-font);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--accent-color);
    }

.sidebar-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.sidebar-nav ul {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: default;
}
    .sidebar-nav ul li {
        width: 100%;
        height: 56px;
    }
        .sidebar-nav ul li a {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            align-items: center;
            transition: var(--trans-02);
            cursor: default;

            font-size: 1.3rem;
            font-weight: 400;
        }
        .sidebar-nav ul li:hover a {
            color: var(--hover-color);
            font-weight: 600;
        }
        .sidebar-nav ul li:first-child a {
            color: var(--accent-color);
            font-weight: 600;
        }
            .sidebar-nav ul li a i {
                display: flex;
                width: 1.3rem;
                height: 1.3rem;
                margin: 0 16px 0 8px;
                justify-content: center;
                align-self: center;
                font-size: 1.3rem;
            }

.sidebar-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 24px;
    align-items: flex-end;
}
    .sidebar-footer .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 42px;
        border-radius: 2px;
        border: 1px solid var(--border-color);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        justify-content: flex-end;
        cursor: default;
        transition: height .475s ease;
    }
    .sidebar-footer .dropdown.expand {
        height: 160px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    }
        .sidebar-footer .dropdown .dropdown-btn {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 40px;
            background-color: var(--background-color);
            border-radius: 2px;
            align-items: center;
            font-size: 1.15rem;
            font-weight: 500;
            transition: color .3s ease;
            z-index: 1;
        }
        .sidebar-footer .dropdown .dropdown-btn:hover {
            color: var(--hover-color);
        }
            .sidebar-footer .dropdown .dropdown-btn img {
                width: 40px;
                height: 40px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            .sidebar-footer .dropdown .dropdown-btn p {
                display: flex;
                width: calc(100% - 40px);
                height: 40px;
                justify-content: center;
                align-items: center;
            }
        .sidebar-footer .dropdown .dropdown-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: -24px;
            width: 100%;
            height: calc(14px + 36px*3);
            padding: 8px 12px 12px;
            background-color: var(--bar-color);
            justify-content: flex-end;
            transition: all .6s ease;
            opacity: 0;
        }
        .sidebar-footer .dropdown.expand .dropdown-content {
            bottom: 36px;
            background-color: var(--background-color);
            opacity: 1;
        }
            .sidebar-footer .dropdown .dropdown-content a {
                display: none;
                width: 100%;
                height: 36px;
                align-items: center;
                transition: var(--trans-02);
                opacity: 0;
            }
            .sidebar-footer .dropdown.expand .dropdown-content a {
                display: flex;
                opacity: 1;
            }
            .sidebar-footer .dropdown .dropdown-content a:hover {
                color: var(--hover-color);
            }
                .sidebar-footer .dropdown .dropdown-content a p {
                    margin-left: 8px;
                    margin-bottom: 2px;
                }
                .sidebar-footer .dropdown .dropdown-content a i {
                    margin: 0 4px;
                    font-size: .9rem;
                }

/* END SIDE BAR */

/* TOP BAR */

.topbar {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    background-color: var(--bar-color);
    box-shadow: 4px 1px 4px rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
}
body.dark .topbar {
    border: 1px solid var(--border-color);
}

.topbar-left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%; 
    padding: 0 24px;
    justify-content: center;
    cursor: default;
}
    .topbar-left .today {
        width: max-content;
        font-family: var(--title-font);
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2rem;
    }
    .topbar-left .greeting {
        width: max-content;
        font-family: var(--title-font);
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.6rem;
    }

.topbar-right {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    align-items: center;
    justify-content: flex-end;
}

.website-tool {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 48px;
    height: 48px;
    padding: 0 4px;
    margin: 0 8px;
    background-color: var(--bar-color);
    border-radius: 999px;
    justify-content: flex-end;
    align-items: center;
    transition: width .5s ease;
}
.website-tool.active {
    padding: 0 2px;
    width: clamp(360px, 100%, 100%);
    border: 2px solid var(--border-color);
    justify-content: flex-end;
}
    .website-tool:hover {
        padding: 0 2px;
        border: 2px solid var(--border-color);
    }
    .website-tool:active {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }
    .website-tool.active:active {
        box-shadow: none;
    }

    .website-tool .tool-container {
        position: relative;
        display: none;
        width: 0px;
        height: 0px;
    }
    .website-tool.active .tool-container {
        display: flex;
        width: calc(100% - 44px);
        height: 40px;
        margin-right: 4px;
        border-radius: 999px;
        align-items: center;
    }

    .website-tool .tool-btn {
        position: relative;
        display: flex;
        right: 0px;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 999px;
        justify-content: center;
        align-items: center;
        transition: var(--trans-05);
        z-index: 1;
    }
        .tool-btn i {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            transition: opacity .3s ease;
        }
        .tool-btn i.close {
            opacity: 0;
            z-index: -1;
        }

    .website-tool.active .tool-btn {
        background-color: var(--border-color);
    }

        .website-tool.active#search-bar .tool-btn i,
        .website-tool.active#fast-tracking-mood .tool-btn i,
        .website-tool.active#notification .tool-btn i {
            opacity: 0;
            z-index: -1;
        }

        .website-tool.active#search-bar .tool-btn i.close,
        .website-tool.active#fast-tracking-mood .tool-btn i.close,
        .website-tool.active#notification .tool-btn i.close {
            opacity: 1;
            z-index: 1;
        }

        body.dark .tool-btn i.fi-rr-brightness,
        .tool-btn i.fi-rr-moon-stars {
            transform: scaleX(-1) rotate(333deg);
            opacity: 0;
            z-index: -1;
        }
        body.dark .tool-btn i.fi-rr-moon-stars,
        .tool-btn i.fi-rr-brightness {
            opacity: 1;
            z-index: 1;
        }

/* Search bar */
#search-bar .tool-container .icon {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 2px 6px 0 4px;
    border-radius: 999px 0 0 999px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

#search-bar .tool-container .search-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--content-font);
    font-size: 1rem;
    color: var(--text-color);
}

#search-bar .tool-container .search-filter {
    display: flex;
    width: clamp(72px, 50%, 240px);
    height: 100%;
    padding: 0 4px;
    margin-left: 12px;
    border-radius: 999px 0 0 999px;
    border: 1px solid var(--border-color);
    font-family: var(--content-font);
    font-size: 1.025rem;
    font-weight: 500;
}
#search-bar .tool-container .search-filter:focus {
    outline: none;
}

#search-bar .tool-container .search-btn {
    display: flex;
    width: 160px;
    height: 40px;
    background-color: var(--border-color);
    border-radius: 0 999px 999px 0;
    align-items: center;
    justify-content: center;
    cursor: default;

    font-family: var(--content-font);
    font-size: 1.05rem;
    font-weight: 500;
}

/* Change Theme */
.website-tool.active#change-theme {
    width: 492px;
} 

#change-theme .tool-container #theme-text,
#change-theme .tool-container #color-text {
    display: flex;
    width: max-content;
    height: 100%;
    margin: 0 16px;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#change-theme .tool-container .dark-light-option {
    position: relative;
    display: flex;
    width: 68px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: 2px inset var(--border-color);
    z-index: 1;
}

#change-theme .tool-container .dark-light-option i {
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#change-theme .tool-container .dark-light-option i.fi-rr-brightness {
    left: 1px;
}
#change-theme .tool-container .dark-light-option i.fi-rr-moon-stars {
    right: 1px;
    transform: scaleX(-1) rotate(333deg);
}

#change-theme .tool-container .dark-light-option .switch-button {
    position: absolute;
    display: flex;
    width: 28px;
    height: 28px;
    left: 34px;
    border-radius: 999px;
    background-color: var(--border-color);
    transition: var(--trans-03);
    z-index: 1;
}
body.dark #change-theme .tool-container .dark-light-option .switch-button {
    left: 2px;
}

#change-theme .tool-container .theme-color-options {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 40px;
    align-items: center;
}
#change-theme .tool-container .theme-color-options .theme-color {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 999px;
    cursor: pointer;
}
#change-theme .tool-container .theme-color-options .theme-color.selected {
    border: 4px double var(--text-color);
}

/* Fast Tracking Mood */
.website-tool.active#fast-tracking-mood {
    width: 520px;
}

#fast-tracking-mood .tool-container .mood-option {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    #fast-tracking-mood .tool-container .mood-option .mood-tracking-button {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    #fast-tracking-mood .tool-container .mood-option img {
        position: absolute;
        display: flex;
        width: 32px;
        height: 32px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        transition: var(--trans-03);
    }

    #fast-tracking-mood .tool-container .mood-option img.img-color {
        opacity: 0;
        z-index: -1;
    }
    #fast-tracking-mood .tool-container .mood-option:hover img.img-color {
        opacity: 1;
        z-index: 1;
    }

/* Notification */
.website-tool.active#notification {
    width: max-content;
}

.website-tool.active#notification .tool-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: max-content;
    top: 72px;
    border-radius: 4px;
    border: 1px solid;
}

.website-tool.active#notification .tool-container .notification-text {
    display: flex;
    width: 100%;
    height: max-content;
    padding: 4px;
    border-bottom: 1px solid;
    align-items: center;
    justify-content: flex-end;
    cursor: default;

    font-family: var(--content-font);
    font-size: 1.1rem;
    font-weight: 500;   
}

.website-tool.active#notification .tool-container .notification-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: clamp(68px, 172px, 172px);
    padding: 8px 0;
    overflow: auto;

    scrollbar-color: var(--border-color) var(--bar-color);
    scrollbar-width: thin;
}
    .website-tool.active#notification .tool-container .notification-container .notification-item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 52px;
        padding: 4px;
        justify-content: center;
        cursor: default;
    }
    .website-tool.active#notification .tool-container .notification-container .notification-item.unread {
        background-color: var(--secondary-bar-color);
    }
        .website-tool.active#notification .tool-container .notification-container .notification-item .notification-title {
            font-family: var(--content-font);
            font-size: 1rem;
            text-align: right;
        }
        .website-tool.active#notification .tool-container .notification-container .notification-item .notification-time {
            font-family: var(--content-font);
            font-size: .75rem;
            font-style: italic;
            text-align: right;
        }

.website-tool.active#notification .tool-container .open-notification {
    position: relative;
    display: flex;
    width: 100%;
    height: 32px;
    border-top: 1px solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: var(--content-font);
    font-size: .9rem;
    text-decoration: underline;
}


/* END TOP BAR */


